extends layout

block content
    
    include navbar
    
    include register
    
    include modals/alert
    include modals/confirm

block scripts
    script(src='/js/views/add-things.js')
    script(src='/js/form-validators/registerValidator.js')