extends layout

block content
	nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
		.container
			a.navbar-brand(href='/dashboard') Dashboard	
			.collapse.navbar-collapse.justify-content-end

	.container
		#four04 #{message}