br
footer.page-footer.font-small.bg-light
    .footer-copyright.text-center.py-3#footer
        | Copyright &#169; 2019
        a#link(target="_blank", href='https://fahmialfareza.com')  Fahmialfareza.com
