nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.shadow-sm
    .container
        a.navbar-brand(href='/dashboard') Dashboard
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup')
            span.navbar-toggler-icon
        .collapse.navbar-collapse.justify-content-end#navbarNavAltMarkup
            .navbar-nav#nav
                a.nav-item.nav-link#btn-print(href='javascript:void(0);') Print
                a.nav-item.nav-link#btn-sysutils(href='javascript:void(0);') Status
                a.nav-item.nav-link#btn-account(href='javascript:void(0);') Account
                a.nav-item.nav-link#btn-add-things(href='javascript:void(0);') Add Things
                a.nav-item.nav-link#btn-things(href='javascript:void(0);') Things
                a.nav-item.nav-link#btn-dashboard(href='javascript:void(0);') Dashboard
                a.nav-item.nav-link#btn-logout(href='javascript:void(0);') Sign Out