extends layout

block content

	#box-form-container.center-vertical.shadow
		form.card.card-body.bg-light(method='post')#account-form
			h2
			h6#sub Please tell us a little about yourself.
			hr
			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Name
				.col-sm-9
					input.form-control#name-tf(type='text', name='name')

			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Email
				.col-sm-9
					input.form-control#email-tf(type='email', name='email')

			hr
			.form-group.row
				label.col-sm-3.col-form-label.col-form-label-sm Username
				.col-sm-9
					input.form-control#username-tf(type='text', name='username')

			.form-group.row.margin-zero
				label.col-sm-3.col-form-label.col-form-label-sm Password
				.col-sm-9
					input.form-control#password-tf(type='password', name='password')

			hr
			.form-buttons
				button(type='button')#account-form-btn1.btn.btn-outline-dark
				button(type='submit')#account-form-btn2.btn.btn-primary

			hr
			.btm-copyright#footer
				| Copyright &#169; 2019
				a#link(target="_blank", href='https://fahmialfareza.com')  Fahmialfareza.com

	include modals/form-errors
	include modals/alert

block scripts
	script(src='/js/views/signup.js')
	script(src='/js/form-validators/accountValidator.js')
