form(action='/approve' method='post')
    #ApproveModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#myModalLabel.modal-title Approve Account
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    strong#textApproved
                .modal-footer
                    input.form-control.username(type='hidden' name='username' required='')
                    button.btn.btn-default(type='button' data-dismiss='modal') Close
                    button.btn.btn-success(type='submit') Approve
